.box-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px 1px;
}


.box {
  background: lightblue;
  padding: 30px;
  width: 70px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.box:hover {
  background: red;
  cursor: pointer;
}

.box:active {
  background: black;
}