.box-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px 1px;
  width: 1200px;
  margin: auto;
}



.box-grid div {
  background: lightblue;
  padding: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.header {
 grid-column-start: 1;
 grid-column-end: 5;
}

.content {
 grid-column-start: 2;
 grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
}

.logo {
  float: left;
  text-decoration: none;
  color: white;
}
