.box-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px 1px;
  width: 1200px;
  margin: auto;
}



.box-grid div {
  background: lightblue;
  padding: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.header {
 grid-column-start: 1;
 grid-column-end: 5;
}

.content {
 grid-column-start: 2;
 grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
}

.logo {
  float: left;
  text-decoration: none;
  color: white;
  background: red;
  display: inline-block;
}


.navigation {
  display: inline-block;
  float: right;
}
.navigation .nav-ul .nav-li {
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  margin-top: -20px;
}

.navigation .nav-ul .nav-li:hover {
  background: white;
  color: black;
  cursor: pointer;
}