.box-grid {
  display: grid;
  grid-template-columns: 200px auto auto 200px;
  grid-gap: 1px 1px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}



.box-grid div {
  background: lightblue;
  padding: 20px;
}

.header {
 grid-column-start: 1;
 grid-column-end: 5;
}

.content {
 grid-column-start: 1;
 grid-column-end: 4;
}

.left_bar {
}

.footer {
  grid-column-start: 1;
  grid-column-end: 5;
}

.logo {
  float: left;
  text-decoration: none;
  color: white;
  background: red;
  display: inline-block;
}


.navigation {
  display: inline-block;
  float: right;
}
.navigation .nav-ul .nav-li {
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  margin-top: -20px;
}

.navigation .nav-ul .nav-li:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: background 0.4s;
}

.article {
  padding: 0;
}
.article .title {
  display: inline-block;
}
.article .info {
  margin-top: 20px;
  padding: 0;
}


@media only screen and (max-width: 800px) {
   .content {
 grid-column-start: 1;
 grid-column-end: 5;
}
}

@media only screen and (max-width: 800px) {
   .right_bar {
 grid-column-start: 1;
 grid-column-end: 5;
}
}